server {
	listen 80;
	listen [::]:80;
	server_name tutoria.rmge.edu.mx;
	root /srv/www/tutor/web;
	client_max_body_size 50M;

	#index index.php;
	#try_files $uri $uri/ /index.php?$args;
	#access_log /var/log/nginx/example_com.access;
	#error_log /var/log/nginx/example_com.error;
	
	location / {    
        	index index.html index.htm index.php;
        	#client_max_body_size 10M;
    	}

    location ~ .php$ {
        try_files $uri =404;
        include /etc/nginx/fastcgi_params;
        fastcgi_pass  127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	include fastcgi_params;
    }

    if ($host ~* ^www\.(.*))
    {
        set $host_without_www $1;
        rewrite ^/(.*)$ $scheme://$host_without_www/$1 permanent;
    }

    if (!-e $request_filename)
    {
        rewrite ^(.+)$ /index.php?q=$1 last;
    }	
}
